.video_bg {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.video_bg video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.video_bg_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 2;
    color: white;
    padding-inline: 15px;
}

.video_bg_content h1 {
    font-size: 35px;
}

.video_bg_content p {
    font-size: 20px;
    margin: 25px auto;
    max-width: 37rem;
}

.shadow_bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 70vh;
}

/* первый блок с карточками  */

.container__one {
    padding: 100px 15px 100px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e9eaec;
}


.block__zagolovok {
    text-align: center;
    margin-bottom: 50px;
}

.block__zagolovok p {
    color: #707a8f;
}

.section__card__one {
    display: grid;
    gap: 24px;
}

.card__one {
    background: #dfe0df;
    border-radius: 10px;
    padding: 24px;
    box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.21);
    max-width: 520px;
}

.card__one h5 {
    font-size: 20px;
    font-weight: 600;
    margin-block: 25px;
}

.card__one p {
    font-size: 14px;
    line-height: 1.7;
    color: #3f485a;
}

.bg_container_svg {
    color: white;
    background: linear-gradient(#3f485a, #707a8f);
    border-radius: 10px;
    padding: 10px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}


/* Второй блок с карточками */




.container__two {
    padding: 100px 15px 100px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
}

.container__two h1 {
    text-align: center;
    margin-bottom: 50px;
}

.container__two .block__p__two {
    color: #676f7e;
    text-align: center;
}

.container__one .block__p__two {
    color: #1f242e;
    text-align: center;
}

.block__p__two {

    margin-bottom: 64px;

}

.section__card__two {
    display: grid;
    gap: 24px;
}


/* блок карточек */

.section__card {
    display: grid;
    gap: 24px;
}

.card {
    background: #dfe0df;
    border-radius: 10px;
    padding: 24px;
    box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.21);
    line-height: 1.7;
    max-width: 500px;
}

.card h3 {

    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}

.card p {
    font-size: 12px;
    color: #3f485a;
}


/* блок карточек прайса */

.container__three {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding-block: 100px;
    background: #e9eaec;
}

.container__three h1 {
    margin-bottom: 30px;
}

.section__card {
    padding-inline: 15px;
    line-height: 2;
}


.price__card {
    display: flex;
    flex-direction: column;
    gap: 35px;
    border-radius: 10px;
    padding: 10px;
    background: #dfe0df;
    box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.21);
}

.header {
    padding-inline: 12px;
    text-align: center;
}

.header h2 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.5;
}

.header p {
    font-size: 13px;
    color: #707a8f;
}

.price__features {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-height: 220px;
    padding-inline: 10px;
}

.price__features li {
    display: flex;
    align-items: center;
    gap: 7px;
    list-style-type: none;
    font-size: 13px;
}


.footer {
    margin-block: 24px;
    display: flex;
    justify-content: center;
}

.price__btn {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    font-size: 15px;
    font-weight: 600;
    color: white;
    background: linear-gradient(0.25turn, #3f485a, #707a8f);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.price__btn:hover {
    opacity: .9;
}


/* 4 контейнер навигации */


.container__five {
    background: linear-gradient(0.25turn, #3f485a, #707a8f);
    padding-block: 100px;
    color: #f0f0f0;
}


.block__navigation__pages {
    padding-inline: 15px;
}

.block__navigation__pages h1,
.block__navigation__pages p {
    margin-bottom: 25px;
    text-align: center;
}

.block__navigation__pages h1 {
    font-size: 40px;
    line-height: 1.2;
}

.block__navigation__pages p {
    font-size: 20px;
    line-height: 1.5;
}

.block__btn__navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.block__btn__navigation button { 
    font-size: 20px;
    padding: 15px 30px;
}

.btn__ask {
    display: block;
    color: #f0f0f0;
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    background: linear-gradient(0.25turn, #3f485a, #707a8f);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.2);
}

.btn__ask span {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn__ask a {
    color: white;
    text-decoration: none;
}

.btn__ask span::before {
    content: "➔";
    font-size: 20px;
}

.btn__ask:hover {
    opacity: .9;
}

@media(min-width:770px) {

    .video_bg_content h1,
    .block__zagolovok h1 {
        font-size: 45px;
    }

    .video_bg_content p {
        font-size: 25px;
    }

    .block__zagolovok p {
        font-size: 18px;
    }

    .section__card__one{
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .section__card__two {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        margin-inline: 5rem;
    }

    .card__one h5 {
        font-size: 25px;
    }

    .card__one p {
        font-size: 20px;
    }

    .card h3 {
        font-size: 17px;
    }

    .card p {
        font-size: 18px;
    }

    .container__three h1 {
        font-size: 45px;
    }

    .section__card {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .header h2 {
        font-size: 1.7rem;
    }

    .header p {
        font-size: 15px;
    }

    .price__features li {
        font-size: 14px;
    }
}