.container__service {
    padding: 100px 15px 100px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e9eaec;
}



.block__zagolovok {
    text-align: center;
    margin-bottom: 50px;
}

.block__zagolovok h1 {
    margin-bottom: 24px;
}

.block__zagolovok p {
    color: #707a8f;
}



.block__zagolovok {
    text-align: center;
    margin-bottom: 35px;
}

.block__zagolovok h1 {
    margin-bottom: 10px;
}


.section__card__one {
    max-width: 1200px;
    display: grid;
    gap: 24px;
}

.card__one {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    background: #dfe0df;
    border-radius: 10px;
    padding: 24px;
    box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.21);
    min-height: 340px;
}

.card__one h5 {
    font-size: 20px;
    font-weight: 600;
    margin-block: 25px;
}

.card__one p {
    font-size: 15px;
    line-height: 1.5;
    color: #3f485a;
}

.bg_container_svg {
    color: white;
    background: linear-gradient(#3f485a, #707a8f);
    border-radius: 10px;
    padding: 10px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}


/* контейнер с портфолио работ */

.container__three {
    padding-block: 100px;
    /* background: #e9eaec; */
}


.block__img__work {
    padding-inline: 15px;
}


.blocks__img__my__work {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 24px;
}


.contain__img {
    overflow: hidden;
}

.contain__img img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    aspect-ratio: 1;
}


/* видео бг */


.video_bg {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: linear-gradient(#707a8f, #3f485a);
}

/* .video_bg video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
} */

.video_bg_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 2;
    color: white;
    padding-inline: 15px;
}

.video_bg_content h1 {
    font-size: 24px;
}

.video_bg_content p {
    font-size: 15px;
    margin: 25px auto 55px auto;
    max-width: 55rem;
}

.shadow_bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 70vh;
}

.btn__ask {
    display: block;
    padding: 10px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    background: linear-gradient(0.25turn, #3f485a, #707a8f);
    box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn__ask span {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn__ask:hover {
    opacity: .9;
}


.link__card {
    text-decoration: none;
    color: #000000;
}

.btn__more {
    display: flex;
    align-items: center;
    color: #0000ff;
    font-size: 15px;
    margin-top: 10px;
}

.arrow {
    padding-top: 2px;
}

/* блок 4 получить консультацию */
.container__five {
    background: linear-gradient(0.25turn, #3f485a, #707a8f);
    padding-block: 100px;
    color: #f0f0f0;
}

.block__navigation__pages {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 15px;
}

.block__navigation__pages h1,
.block__navigation__pages p {
    margin-bottom: 25px;
    text-align: center;
}

.block__navigation__pages h1 {
    font-size: 40px;
    line-height: 1.2;
}

.block__navigation__pages p {
    font-size: 20px;
    line-height: 1.5;
}


.block__btn__navigation {
    text-align: center;

}

.block__btn__navigation button {
    font-size: 20px;
    padding: 15px 30px;
}

.btn__pages {
    color: black;
    text-decoration: none;
    background: #f0f0f0;
    border-radius: 5px;
    padding: 5px 10px;
}


.btn__pages span {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn__pages:hover {
    opacity: .9;
}

@media(min-width:320px) {
    .btn__ask span {
        font-size: 20px;
    }
}

@media(min-width:550px) {

    .blocks__img__my__work {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

}



@media(min-width:768px) {
    .section__card__one {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .video_bg_content h1 {
        font-size: 45px;
    }

    .video_bg_content p {
        font-size: 18px;
    }
}

@media(min-width:800px) {
    .blocks__img__my__work {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        padding-inline: 100px;
    }

}

@media(min-width:1000px) {

    .blocks__img__my__work {
        padding-inline: 125px;
    }
}