.left {
    width: 100%;
    height: 70vh;
    position: absolute;
    z-index: 2;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.right {
    width: 100%;
    height: 70vh;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.line {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    width: 5px;
    transform: translateX(-5px);
    height: 100%;
    position: absolute;
    z-index: 3;
    cursor: ew-resize;
}


.btn__split {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.line:hover .ArrowRightLeft {
    color: #0941b0;
}

.left,
.line,
.right {
    user-select: none;
    touch-action: none;
}

.before {
    font-family: sans-serif;
    position: absolute;
    top: 15px;
    left: 15px;
    background: #e9eaec;
    padding: 5px 15px;
    border-radius: 50px;
    font-size: 15px;
}


.after {

    font-family: sans-serif;
    position: absolute;
    top: 15px;
    right: 15px;
    background: #707a8f;
    padding: 5px 15px;
    color: white;
    border-radius: 50px;
    font-size: 15px;
}