.left {
    width: 100%;
    height: 70vh;
    position: absolute;
    z-index: 1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.right {
    width: 100%;
    height: 70vh;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.line {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    width: 5px;
    transform: translateX(-5px);
    height: 100%;
    position: absolute;
    z-index: 2;
    cursor: ew-resize;
}


.btn__split {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.line:hover .ArrowRightLeft {
    color: #0941b0;
}

.left,
.line,
.right {
    user-select: none;
    touch-action: none;
}