.container__footer {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    padding: 35px;
    max-width: 900px;
    margin-inline: auto;
}

.one__block__footer {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 35px;
    font-size: 13px;
    color: #707a8f;
}


.block__img {
    width: 70px;
    height: 45px;
    margin-bottom: 10px;
}

.block__img img {
    width: 100%;
}


.fast__nav,
.contacts,
.media {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.media ul {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.block__media>a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 10px;
    background: linear-gradient(#3f485a, #707a8f);
    border-radius: 50px;
}

.fast__nav ul,
.contacts ul {
    margin-bottom: 15px;
}


.icon {
    width: 20px;
    height: 20px;
}


.rights {
    padding-block: 20px;
    text-align: center;
    font-size: 1rem;
    line-height: 1.7;
    color: #707a8f;
    padding-inline: 25px;
}

.h__two{
    font-size: 15px;
}

.text {
    display: flex;
    align-items: center;
    gap: 15px;
    list-style-type: none;
    font-size: 15px;
    padding: 8px;
}
.text__mail {
    font-size: 13px;
}
.text__mail svg{
    flex-shrink: 0;
}

@media(min-width:770px) {
    .container__footer {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .h__two{
        font-size: 22px;
    }
    .text{
        font-size: 17px;
    }
    .text__mail{
        font-size: 13px;
    }
}

.hr{
    margin-inline: 4rem ;
}

@media(min-width:1020px) {
    .container__footer {
        max-width: 1420px;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 10px;
    }
}