.video_bg {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.video_bg video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.video_bg_content {
    z-index: 2;
    text-align: center;
    color: white;
    padding-inline: 15px;
}

.video_bg_content h1 {
    font-size: 24px;
}

.video_bg_content p {
    font-size: 15px;
    margin: 25px auto;
    max-width: 37rem;
}

.btn__ask {
    padding: 10px;
    font-weight: 600;
    color: white;
    background: linear-gradient(0.25turn, #3f485a, #707a8f);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn__ask span {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn__ask:hover {
    opacity: .9;
}

.shadow_bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 70vh;
}


/* первый блок с карточками  */

.container__one {
    padding: 100px 15px 100px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e9eaec;
}


.block__zagolovok {
    text-align: center;
    margin-bottom: 50px;
}

.block__zagolovok h1 { 
    margin-bottom: 24px;
}

.block__zagolovok p {
   color: #707a8f;
}

.section__card__one {
    max-width: 1200px;
    display: grid;
    gap: 24px;
}

.card__one {
    background: #dfe0df;
    border-radius: 10px;
    padding: 24px;
    box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.21);
}

.card__one h5 {
    font-size: 20px;
    font-weight: 600;
    margin-block: 25px;
}

.card__one p {
    font-size: 14px;
    line-height: 1.7;
    color: #3f485a;
}

.bg_container_svg {
    color: white;
    background: linear-gradient(#3f485a, #707a8f);
    border-radius: 10px;
    padding: 10px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}




/*второй контейнер слайдер с нашими работами SPLIT   */



.container__two {
    padding-block: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
}

.block__reviews {
    padding-inline: 15px;
}

.block__content__swiper {
    padding: 25px 25px 25px 25px;
}

.swiper__star {
    display: flex;
}

.swiper__text {
    font-size: 15px;
    text-align: left;
}

.block__nav__and__reviews__swiper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.block__navigation__swiper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-inline: 15px;
    margin-top: 24px;
}


.block__text__swiper {
    margin-top: 15px;
}

.block__name__author__swiper {
    display: flex;
    align-items: center;
    margin-block: 10px;
    gap: 10px;
}

.swiper__initials {
    display: flex;
    gap: 2px;
    font-size: 13px;
    color: #f0f0f0;
    background: #3f485a;
    padding: clamp(1rem, 2vw, .5rem);
    border-radius: 30px;
}

.swiper__full__name__author {
    font-size: 15px;
}

/* слайдер успешных историй */



.container__three {
    padding-block: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #e9eaec;
}


/* контейнер формы */


.container__four {
    padding-block: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ffffff;
}


.block__form {
    padding-inline: 15px;
}

.block__form p{
    padding-inline: 10px;
}


/* 5 блок составление сметы  */


.container__five {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block: 100px;
    background: linear-gradient(0.25turn, #3f485a, #707a8f);
    color: white;
}

.block__smeta {
    padding-inline: 15px;
    text-align: center;
}

.block__smeta p {
    color: #e9eaec;
}



.btn__smeta {
    padding: 10px;
    font-weight: 600;
    color: white;
    background: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.btn__smeta span {
    display: flex;
    align-items: center;
    gap: 10px;
    color: black;
}

.btn__smeta:hover {
    opacity: .9;
}


@media(min-width:770px){
    .video_bg_content h1{
        font-size: 45px;
    }
    .video_bg_content p { 
        font-size: 18px;
    }
    .block__zagolovok h1{
        font-size: 45px;
    }
    .block__zagolovok p { 
        font-size: 18px;
    }
    .section__card__one { 
    grid-template-columns: repeat(2, minmax(0,1fr));
    }
    .card__one h1{
        font-size: 22px;
    }
    .card__one p { 
        font-size: 18px;
    }
    .swiper__text{
        font-size: 18px;
    }
    .swiper__full__name__author{
        font-size: 18px;
    }
}