/* dropDown.module.css */

.wrapper {
    position: relative;
}


.menu {
    width: 300px;
    padding: 10px;
    position: relative;
    top: 100%;
    right: 22px;
    z-index: 90;

    border-radius: 10px;

}

.menu li {
    font-size: 17px;
}

.item {
    display: block;
    margin: 5px 12px;
    padding-bottom: 8px;
}

.item:hover {
    background-size: #f0f0f0;
    background-size: #f0f0f0, 100% 2px;
}

.item .active {
    background-size: #f0f0f0;
}

.menu .active,
.wrapper .active {
    background-size: 100% 2px;
}


.hover {
    background: #f0f0f0;
}

.link {
    position: relative;
}

.chevron {
    display: inline-flex;
    position: absolute;
    top: 5px;
    left: 80px;
    transition: transform 0.25s ease;
}

.open {
    transform: rotate(180deg);
}

.services {
    color: white;
    cursor: pointer;
}

@media(min-width:767px) {
    .menu {
        position: absolute;
        box-shadow: 0px 0px 15px 7px rgba(0, 0, 0, 0.2);
        background: linear-gradient(#707a8f, #353b47);
        left: -100px;
    }

    .chevron{
        left: 105%;
    }

}